{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
SLServiceList
{% endblock %}

{% block body %}
<div class="text-center">
    <h1>QRCoder</h1>
    <h3>{% translate 'qr_description' %}</h3>
</div>

<div class="m-5 w-75 mx-auto p-3 bg-body-secondary rounded-3 text-center container">
    <div class="row">
        <div class="col">
            <img id="qrcode" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" width="512" height="512"
                 alt="">
        </div>

        <form action="#" method="post" class="p-3 col">
            {% csrf_token %}

            <textarea name="content" class="form-control" rows="3"
                      placeholder="{% translate 'qr_content' %}"></textarea>

            <select name="style" class="form-select">
                <option value="" disabled selected>{% translate 'style' %}</option>

                <option value="square">{% translate 'style_square' %}</option>
                <option value="gsquare">{% translate 'style_gapped_square' %}</option>
                <option value="circle">{% translate 'style_circle' %}</option>
                <option value="rounded">{% translate 'style_rounded' %}</option>
                <option value="vbars">{% translate 'style_ver_bars' %}</option>
                <option value="hbars">{% translate 'style_hor_bars' %}</option>
            </select>

            <select name="correction" class="form-select">
                <option value="" disabled selected>{% translate 'correction' %}</option>

                <option value="1">7%</option>
                <option value="2">15%</option>
                <option value="3">25%</option>
                <option value="4">30%</option>
            </select>

            <div class="m-1 d-flex justify-content-between">
                <input type="button" class="btn btn-primary btn-lg" onclick="javascript:updateQrAndCheck();"
                       value="{% translate 'qr_update_button' %}">
                <input type="submit" class="btn btn-primary btn-lg"
                       value="{% translate 'qr_download_button' %}">
            </div>

        </form>
    </div>
</div>
<script src="{%  static 'update_qr.js' %}"></script>
<script>
    updateQR();
    async function updateQrAndCheck(){
        success = await updateQR()
        if (!success){
            alert("{% translate 'too_much_data' %}")
        }
    }
    document.forms[0].addEventListener('change', updateQrAndCheck);
</script>
{% endblock %}
